/*
    light green - #aee238
    dark green  - #4dbb04

    Site Creator - Caleb Anderson
*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background: #111;
    color: #FFF;
    font-family: 'Bitter', 'Open Sans', sans-serif;
    letter-spacing: .05rem;
}

a {
    text-decoration: none;
    color: #FFF;
}


li { list-style: none; }

a:hover { color: #4dbb04; }

p { line-height: 2.5em; }

h2 { font-size: 2rem; }

h3 { font-size: 1.7rem; }

h4 { font-size: 1.4rem; }

h5 { font-size: 1.3rem; padding-bottom: 25px; }

.header-gap-top {
    padding-top: 60px;
}

section div h3,
section div p {
    padding-bottom: 10px;
}

section div p:last-child {
    padding-bottom: 0;
}

.bottom-gap {
    padding-bottom: 40px;
}
        
.divider {
    width: 20%;
    border-top: solid 1px green;
    margin: 0 auto;
    padding-bottom: 40px;
    margin-top: 20px;
}

.intro-title{
    padding-bottom:10px;
    padding-top: 20px;
}

.intro-content {
    padding-bottom: 40px;
}